<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileclient.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
         android:targetSdkVersion="8"
         /> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.mobileclient.app.Declare">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="MainActivity"></activity>
        <activity android:name="MainSellerActivity"></activity>
        <activity android:name="MainUserActivity"></activity>
        <activity android:name="MoreActivity"></activity>
        <activity android:name="AboutActivity"></activity>
        <activity android:name="RegisterActivity"></activity>
        <activity android:name="MainMenuActivity"></activity>
        <activity android:name="UserInfoListActivity"></activity>
        <activity android:name="UserInfoQueryActivity"></activity>
        <activity android:name="UserInfoAddActivity"></activity>
        <activity android:name="UserInfoEditActivity"></activity>
        <activity android:name="UserInfoDetailActivity"></activity>
        <activity android:name="SellerListActivity"></activity>
        <activity android:name="SellerQueryActivity"></activity>
        <activity android:name="SellerAddActivity"></activity>
        <activity android:name="SellerEditActivity"></activity>
        <activity android:name="SellerDetailActivity"></activity>
        <activity android:name="ProductClassListActivity"></activity>
        <activity android:name="ProductClassQueryActivity"></activity>
        <activity android:name="ProductClassAddActivity"></activity>
        <activity android:name="ProductClassEditActivity"></activity>
        <activity android:name="ProductClassDetailActivity"></activity>
        <activity android:name="ProductListActivity"></activity>
        <activity android:name="ProductSellerListActivity"></activity>
        <activity android:name="ProductQueryActivity"></activity>
        <activity android:name="ProductAddActivity"></activity>
        <activity android:name="ProductEditActivity"></activity>
        <activity android:name="ProductDetailActivity"></activity>
        <activity android:name="ShopCartListActivity"></activity>
        <activity android:name="ShopCartUserListActivity"></activity>
        <activity android:name="ShopCartQueryActivity"></activity>
        <activity android:name="ShopCartAddActivity"></activity>
        <activity android:name="ShopCartEditActivity"></activity>
        <activity android:name="ShopCartDetailActivity"></activity>
        <activity android:name="OrderInfoListActivity"></activity>
        <activity android:name="OrderInfoUserListActivity"></activity>
        <activity android:name="OrderInfoQueryActivity"></activity>
        <activity android:name="OrderInfoAddActivity"></activity>
        <activity android:name="OrderInfoUserAddActivity"></activity>
        <activity android:name="OrderInfoEditActivity"></activity>
        <activity android:name="OrderInfoDetailActivity"></activity>
        <activity android:name="OrderItemListActivity"></activity>
        <activity android:name="OrderItemUserListActivity"></activity>
        <activity android:name="OrderItemQueryActivity"></activity>
        <activity android:name="OrderItemAddActivity"></activity>
        <activity android:name="OrderItemEditActivity"></activity>
        <activity android:name="OrderItemDetailActivity"></activity>
        <activity android:name="PayWayListActivity"></activity>
        <activity android:name="PayWayQueryActivity"></activity>
        <activity android:name="PayWayAddActivity"></activity>
        <activity android:name="PayWayEditActivity"></activity>
        <activity android:name="PayWayDetailActivity"></activity>
        <activity android:name="SendWayListActivity"></activity>
        <activity android:name="SendWayQueryActivity"></activity>
        <activity android:name="SendWayAddActivity"></activity>
        <activity android:name="SendWayEditActivity"></activity>
        <activity android:name="SendWayDetailActivity"></activity>
        <activity android:name="CollectionListActivity"></activity>
        <activity android:name="CollectionUserListActivity"></activity>
        <activity android:name="CollectionQueryActivity"></activity>
        <activity android:name="CollectionAddActivity"></activity>
        <activity android:name="CollectionEditActivity"></activity>
        <activity android:name="CollectionDetailActivity"></activity>

        <activity android:name="photoListActivity"></activity>
        <activity android:name="fileListActivity"></activity>
    </application>

    
    <uses-permission android:name="android.permission.INTERNET" />

	<!-- 文件读写权限 -->
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"></uses-permission>
	
	
</manifest>
